.cardData {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border: 2px solid #e1e1e1;
  border-radius: 20px;
}

.super {
  font-size: 16px;
}

.description {
  font-weight: 500;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.text {
  font-size: 25px;
}

.termin {
  overflow: hidden;

  font-size: 14px;
  color: #0e0e0e;
  text-overflow: ellipsis;

  opacity: 0.5;
}