body {
  padding-top: 70px;

  font-family: Montserrat, sans-serif;

  background-color: #f9f9f9;
}

dl,
dd {
  margin: 0;

  text-align: center;
}

dl {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;

  opacity: 0.2;
}

.swiper-slide {
  width: min-content;
}

.swiper-wrapper {
  max-width: 1030px;
}

@media (max-width: 768px) {
  body {
    padding: 15px 15px 20px 15px;
  }
}