.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 1230px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}