.button {
  cursor: pointer;

  width: 100px;
  height: 100px;
  padding: 0;

  background-color: transparent;
  background-image: url("./listen.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.pause {
  background-image: url("./pause.svg");
}

@media (max-width: 768px) {
  .button {
    grid-column: span 2;
    grid-row: 5 / 6;

    width: 50px;
    height: 50px;
    padding: 0;

    background-color: transparent;
    background-image: url("./listen.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }
}

@media (max-width: 768px) {
  .btn {
    grid-column: span 2;
    grid-row: 5 / 6;
  }
}